.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 3000ms linear;
}
.fade-appear-done {
  opacity: 1;
}
.fade-enter {
  transition: opacity 800ms ease-in;
  opacity: 0.5;
}
.fade-enter-active.fade-enter-done {
  opacity: 1;
}
